<div class="container">
    <!-- Interpolazione -->

    <div>
        <tcs-navbar></tcs-navbar>
    </div>

    <!-- <div class="mt-2" >
        <tcs-card
                *ngFor="let card of cards"
                [itemIdx]="card.itemIdx"
                [title]="card.title"
                [showBody]="card.showBody"
                (toggleEvent)="manageToggle($event)"
        ></tcs-card>

    </div> -->

   <router-outlet></router-outlet>

    <!--<div class="mt-5" >
        <tcs-card [title]="'Single title2'" >

            <div>
                <p>New content</p>
            </div>

        </tcs-card>
    </div>-->

</div>
