<div class="container">
    <!-- Interpolazione -->
    <span>{{ title }} app is running!</span>

    <div class="mt-2" >
        <tcs-card
                *ngFor="let card of cards"
                [itemIdx]="card.itemIdx"
                [title]="card.title"
                [showBody]="card.showBody"
                (toggleEvent)="manageToggle($event)"
        ></tcs-card>

    </div>

    <div class="mt-5" >
        <tcs-card [title]="'Single title'" >

            <div>
                <p>content</p>
            </div>

        </tcs-card>
    </div>
    <div class="mt-5" >
        <tcs-card [title]="'Single title2'" >

            <div>
                <p>New content</p>
            </div>

        </tcs-card>
    </div>

</div>
