<main>

    <div class="container" style="margin-top: 50px;vertical-align: center">

        <h5>Login</h5>
        <form>
            <div class="row">
                <div class="col-4">
                    <input class="form-control" type="text" id="username" name="username"
                           placeholder="Inserisci la username" [(ngModel)]="loginData.username">
                </div>
            </div>
            <div class="row">
                <div class="col-4 mt-2">
                    <input class="form-control" type="password" id="password" name="password"
                           placeholder="Inserisci la password" [(ngModel)]="loginData.password">
                </div>
                <div class="col-12 mt-2">

                    <button class="btn-primary rounded rounded-sm" (click)="login()">LOGIN</button>
                </div>
            </div>

        </form>
    </div>
</main>
