<main>

    <div class="container" style="margin-top: 50px;vertical-align: center">

        <h5>Login</h5>
        <!-- #nome_var equivale ad una template reference variable  -->
        <form #loginForm="ngForm" (submit)="login(loginForm)">
            <div class="row">
                <div class="col-4">
                    <input class="form-control" type="text" id="username" name="username"
                           #refUsername="ngModel"
                           required
                           minlength="4"
                           pattern="^[a-zA-Z]+$"
                           placeholder="Inserisci la username" [ngModel]="loginData.username">
                    <div *ngIf="refUsername.errors && (refUsername.dirty || refUsername.touched || loginForm.submitted)">

                        <pre>{{ refUsername.errors | json }}</pre>

                        <small class="text-danger"
                                *ngIf="loginForm.touched && refUsername.invalid && refUsername.control.errors.required">Username is required</small>
                        <small class="text-danger"
                               *ngIf="loginForm.touched && refUsername.invalid && refUsername.control.errors.minlength">Username is under 4 letters</small>
                        <small class="text-danger"
                               *ngIf="loginForm.touched && refUsername.invalid && refUsername.control.errors.pattern">Username is not well formed</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mt-2">
                    <input class="form-control" type="password" id="password" name="password"
                           #refPassword="ngModel"
                           required
                           tcsForbiddenName="rob"
                           placeholder="Inserisci la password" [ngModel]="loginData.password">

                    <div *ngIf="refPassword.errors && (refPassword.dirty || refPassword.touched || loginForm.submitted)">
                        <small class="text-danger "
                                *ngIf="refPassword.control.errors.required">Password is required</small>
                        <small class="text-danger"
                               *ngIf="loginForm.touched && refPassword.invalid
                                    && refPassword.control.errors.forbiddenName">
                                            Value not admitted: {{refPassword.control.errors.forbiddenName.value}}
                        </small>
                                <!-- {{refPassword.control.errors | json}} -->
                    </div>

                </div>
                <div class="col-12 mt-2">

                    <input type="submit"
                           [ngClass]="{'btn-primary rounded rounded-sm': loginForm.valid, 'disabled rounded rounded-sm': loginForm.invalid|| loginForm.pending}" value="LOGIN"
                           [disabled]="loginForm.invalid || loginForm.pending"
                    >
                </div>
            </div>

        </form>
    </div>
</main>
